@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .hoverEffect {
    @apply duration-500 cursor-pointer;
  }
  .niggiLinks {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-magenta;
  }

  .shopLink{
    @apply text-gray-400 px-4 py-1 duration-300 cursor-pointer font-sans font-bold text-lg hover:underline underline-offset-[4px]  hover:text-magenta hoverEffect border-b-gray-400 border-b-[1px] 
  }

  .shopBy{
    @apply mt-4 hover:text-magenta text-lg
  }

  .shopBy2{
    @apply mt-2 hover:text-magenta text-base
  }

  textarea {
    @apply shadow-md px-3 py-2 border border-slate-300;
  }

  
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

@media screen and (max-width: 768px) {
  .responsive-text {
    font-size: 1.5rem; 
  }

  
  @media screen and (max-width: 768px) {
 
    .responsive-label {
      font-size: 0.8rem; 
    }
  
    .responsive-select {
      width: 60px; 
      font-size: 0.7rem; 
    }
  }
  
    .responsive-unseen {
      display: none; 
    }

    
  }
  
  
  @media screen and (max-width: 1022px) {
  .responsive-user{
    left: 20%;
    width: 150px;
  }
}



  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label{
      top: -5px;
      color: magenta;
  }
  
  .input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding-right: 23px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: .5s;
  }
  
  .input-box input:focus,
  .input-box input:valid {
    border-bottom-color: magenta ;
  
  }
  
  .input-label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
  }
  
  
  
  .icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    transition: .5s;
   
  }
  
  .input-box input:focus~span,
  .input-box input:valid~span{
      color: magenta;
  }
